* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

header {
    padding: 20px 10%;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 5px 12px;
    background-color: rgb(232, 229, 229);
}

.logo-carrito {
    font-size: 30px;
    color: olive;
    margin-right: 30px;
    margin-top: 10px;
}

#excursiones-contenedor {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90rem;
    margin: 30px auto;
}

.logo {
    color: olive !important;
    text-transform: uppercase;
    font-weight: 500px;
    font-size: 30px;
    margin-top: 10px;
    text-decoration: none;
}

p {
    line-height: 1.8;
}

.card {
    max-width: 30%;
    padding: 20px;
    margin: 15px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.card-image {
    height: 280px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-body {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

.contenedor-btn-agg {
    display: flex;
    margin-top: auto;
    justify-content: center;
    display: block;
}

.btn-agregar,
.btn-ir-carrito {
    padding: 8px;
}


h2 {
    font-size: 28px;
    font-weight: bold;
    padding: 8px;
    margin: 8px;
    margin-top: 13px;
    text-align: center;
}

#seccion-carrito {
    display: flex;
}

.card-carrito {
    display: flex;
    flex-direction: row;
    background-color: rgb(241, 241, 241);
    justify-content: space-around;
    margin: 30px;
    padding: 10px;
    align-items: center;
}

.card-text-carrito {
    font-size: 18px;
    padding-top: 13px;
}

#total-carrito {
    background-color: rgb(241, 241, 241);
    width: 25%;
    padding: 20px;
    border-radius: 3%;
    max-height: 350px;
    margin: 20px;
}

.total-compra {
    display: flex;
    justify-content: space-between;
}

.card-header-total {
    font-size: 20px;
    padding: 8px;
}

.card-text-total {
    font-size: 18px;
    margin-bottom: 20px;
    padding: 10px;
}

.buttons-total-compra {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-total {
    width: 300px;
    padding: 8px;
    margin: 10px;
}